*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	background: url(../images/bg2.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(150,150,150,.5);
	background-blend-mode: multiply;
}

.aboutpage{
	height: 83.8%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.aboutpage > div{
	width: 50%;
	text-align: center;
	padding: 20px;
}

.aboutpage > div > img{
	margin: 10px;
	height: 400px;
	border-radius: 30px;
}

.aboutmessage{
	background-color: rgba(214, 235, 255, 0.6);
	margin: 80px;
	border: 3px solid #B8B7B9;
	border-radius: 15px;
	height: 400px;
}

.aboutmessage > h2{
	font-size: 80px;
	color: #1D4965;
	margin-bottom: 20px;
}

.aboutmessage > p{
	font-family: Josephina Sans;
	font-size: 20px;
	color: #1D4965;
	margin: 10px 50px;
	text-indent: 50px;
	text-align: justify;
}

.aboutmessage{
	padding-left: 80px;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 100vw;
	}

	.aboutpage{
		flex-direction: column-reverse;
	}

	.aboutpage > div > img{
		height: 380px;
		width: 380px;
		position: relative;
		top: 100px;
		right: 17px;
	}

	.aboutmessage{
		height: 450px;
		position: relative;
		left: 13px;
	}

	.aboutmessage > h2 {
		font-size: 50px;
	}

	.aboutmessage > p{
		margin: 10px 20px;
		text-indent: 20px;
	}
}

@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}

	.aboutpage{
		flex-direction: column-reverse;
	}

	.aboutpage > div{
		width: 100%;
	}

	.aboutpage > div > img{
		height: 350px;
		width: 350px;
		position: relative;
		top: 250px;
		left: 130px;
	}

	.aboutmessage{
		height: 450px;
		position: relative;
		top: 175px;
		left: 150px;
		width: 350px;
	}

	.aboutmessage > h2 {
		font-size: 50px;
	}

	.aboutmessage > p{
		margin: 15px 20px;
		text-indent: 20px;
	}
}