*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	background: url(../images/bg5.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(150,150,150,.5);
	background-blend-mode: multiply; 
}

.contactbody{
	height: 83.8%;
	display: flex;
	justify-content: center;
	text-align: center;0
}

.contactbody > div{
	background-color: rgba(214, 235, 255, 0.6);
	text-align: center;
	width: 600px;
	height: 500px;
	border: 3px solid #B8B7B9;
	border-radius: 15px;
	margin: 50px;
}

.contactbody > div > h1{
	font-size: 80px;
	padding-bottom: 40px;
	color: #1D4965;
}

.contactbody > div > h3{
	font-size: 50px;
	color: #62B6CB;
}

.contactbody > div > h4{
	font-size: 30px;
	font-family: Josephina Sans;
	padding: 20px;
	color: #1D4965;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 100vw;
	}

	.contactbody{
		position: relative;
		left: 5px;
	}
}

@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}

	.contactbody{
		position: relative;
		left: 70px;
		top: 20px;
		width: 500px;
	}

	.contactbody > div{
		width: 100%;
		margin: 10px;
	}
}