*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(150,150,150,.5);
	background-blend-mode: multiply;
}

.welcome-content{
	height: 83.8%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.welcome-content > div > img{
	margin: 10px;
	height: 400px;
	border-radius: 30px;
	border: 3px solid #B8B7B9;
}

.welcome-content > div{
	width: 50%;
	text-align: center;
	padding: 20px;
}

.welcome-message{
	background-color: rgba(214, 235, 255, 0.6);
	margin: 10px;
	border: 3px solid #B8B7B9;
	border-radius: 15px;
	height: 400px;
}

.welcome-message > h1{
	font-size: 80px;
	color: #1D4965;
	margin: 20px 0;
	position: relative;
	top: 30px;
}

.welcome-message > h2{
	font-size: 60px;
	color: #1D4965;
	position: relative;
	top: 30px;
}

.welcome-message > h3{
	font-size: 30px;
	color: #1D4965;
	position: relative;
	top: 30px;
}

.welcome-message{
	padding-left: 80px;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 100vw;
	}

	.welcome-content{
		flex-direction: column-reverse;
	}

	.welcome-content > div > img{
		position: relative;
		top: 50px;
		right: 15px;
		width: 390px;
		height: 390px;
	}

	.welcome-message{
		position: relative;
		padding: 0;
		left: 20px;
	}

	.welcome-message > h1{
		margin: 5px;
		font-size: 70px;
		position: relative;
		top: 0;
	}

	.welcome-message > h2{
		font-size: 50px;
		position: relative;
		top: 0;
	}

	.welcome-message > h3{
		font-size: 30px;
		position: relative;
		top: 0;
	}
}

@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}

	.welcome-content{
		flex-direction: column-reverse;
	}

	.welcome-content > div > img{
		height: 350px;
		width: 350px;
		position: relative;
		top: 150px;
		right: 0;
		left: 130px;
	}

	.welcome-content  > div {
		width: 100%;
	}

	.welcome-message{
		position: relative;
		top: 125px;
		left: 150px;
		height: 450px;
	}

	.welcome-message > h1{
		margin: 0px;
		font-size: 55px;
		position: relative;
		top: 0;
	}

	.welcome-message > h2{
		font-size: 40px;
		position: relative;
		top: 0;
	}

	.welcome-message > h3{
		font-size: 30px;
		position: relative;
		top: 0;
	}
}