*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	background: url(../images/bg4.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(150,150,150,.5);
	background-blend-mode: multiply; 
}

.menubody{
	height: 83.8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menubody > div{
	background-color: rgba(214, 235, 255, 0.6);
	text-align: center;
	width: 600px;
	height: 500px;
	border: 3px solid #B8B7B9;
	border-radius: 15px;
}

.menubody > div > h1{
	font-size: 80px;
	padding-bottom: 40px;
	color: #1D4965;
}

.menubody > div > ul {
	position: relative;
	left: 28px;
}

.menubody > div > ul > li{
	font-family: Josephina Sans;
	font-size: 18px;
	font-weight: bold;
	width: 90%;
	list-style: none;
	padding: 10px 0;
	text-align: justify;
	color: #1D4965;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 100vw;
	}

	.menubody > div{
		position: relative;
		bottom: 50px;
		left: 7.5px;
	}
}

@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}

	.menubody{
		width: 550px;
		position: relative;
		top: 20px;
		left: 52px;
	}

	.menubody > div > h1{
		padding-bottom: 20px;
	}

	.menubody > div > ul {
		position: relative;
		left: 15px;
	}

	.menubody > div > ul > li{
		font-size: 16px;
		padding: 10px 5px;
	}
}