*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	background: url(../images/bg3.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(150,150,150,.5);
	background-blend-mode: multiply;
}

.gallery{
	height: 83.8%;
}

.gallery > h1{
	text-align: center;
	font-size: 70px;
	color: #1D4965;
}

.pgtop, .pgbot{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pgtop > img, .pgbot > img{
	height: 30vh;
	margin: 20px 50px;
	border: 3px solid #B8B7B9;
	border-radius: 5px;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 100vw;
	}
	.pgtop, .pgbot{
		flex-direction: column;
	}

	footer{
		top: 1325px;
	}
}

@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}

	.gallery{
		height: 1525px;
		width: 600px;
		margin-left: 27px;
	}

	.pgtop, .pgbot{
		flex-direction: column;
	}

	footer{
		top: 0;
	}
}