*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Dancing Script;
}

body{
	height: 100vh;
}

nav{
	height: 10vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(29,73,101,.9);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: .9;
}

nav > ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 50%;
}

.navlogo > img{
	height: 14vh;
	position: relative;
	top: 1rem;
	right: 12.5rem;
}

nav > ul > li{
	font-size: 1.75rem;
	font-weight: bold;
	color: #D6EBFF;
	text-indent: 10px;
	margin: 0 20px;
	padding-left: 15px;
}

nav > ul > li > a:hover{
	color: #62B6CB;
	text-decoration: none;
}

nav > ul > li > a:link, a:visited, a:active{
	color: #D6EBFF;
	text-decoration: none;
}

footer{
	background-color: rgba(29,73,101,.9);
	height: 5vh;
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
/*	top: 15px;*/
	opacity: .9;
}

footer > div > h3{
	color: #D6EBFF;
	position: relative;
	right: 1rem;
}

footer > div > h3 > a:link, a:visited, a:active{
	text-decoration: none;
}

footer > div > h3 > a:hover{
	color: #62B6CB;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		width: 750px;
	}

	.navlogo > img {
		right: 50px;
	}

	nav > ul > li{
		font-size: 20px;
		text-indent: 5px;
		margin: 0 0px;
	}

	footer{
		top: 55px;
	}
}

@media only screen and (max-width: 400px){
	nav{
		flex-direction: column;
		height: 120px;
		width: 175%;
		justify-content: center;
	}

	.navlogo > img {
		right: 0px;
		height: 100px;
	}

	nav > ul > li{
		font-size: 25px;
		text-indent: 15px;
		margin: 0 0px;
	}

	footer{
		width: 175%;
		top: 455px;
	}
}